<%= link_to "Create a New Booking", new_admin_booking_path %>

<% @bookings.each do |booking| %>
  <h2><%= link_to booking.id, admin_booking_path(booking) %></h2>
  <p>From: <%= booking.start_date %></p>
  <p>To: <%= booking.end_date %></p>
  <p>Paid Price: <%= booking.paid_price %></p>
  <p>User Name: <%= booking.user.name %></p>
  <p>User Email: <%= booking.user.email %></p>
  <p>Room: <%= booking.room.name %></p>
  <p>Hotel: <%= booking.room.hotel.name %></p>
<% end%>