<h2><%= Welcome Admin this is the room @booking.room_id %></h2>
<p>From: <%= @booking.start_date %></p>
<p>To: <%= @booking.end_date %></p>
<p>City: <%= @booking.paid_price %></p>
<p>Country: <%= @booking.user_id %></p>
<p>Address: <%= @booking.room_id %></p>

<%= link_to 'Back', admin_bookings_path %>
<%= link_to "Edit", edit_admin_booking_path(@booking) %>
<%= link_to "Delete", admin_booking_path(@booking), method: :delete, data: { confirm: "Are you sure?" } %>s