<%= form_for [:admin, @room] do |f| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @room.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Room name: " %>
    <%= f.text_field :name, :placeholder => "Enter room name" %>
  </div>

  <div class="field">
    <%= f.label :amount_of_beds, "Amount of beds: " %>
    <%= f.number_field :amount_of_beds, :placeholder => "Enter beds in room" %>
  </div>

  <div class="field">
    <%= f.label :price, "Price US $:" %>
    <%= f.number_field :price, :placeholder => "Enter room's price" %>
  </div>
  <div class="field">
    <label for="room_hotel_id">Hotel name: </label>
    <%= f.collection_select(:hotel_id, Hotel.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :cover, "Pictures: " %>
    <%= f.file_field :cover, :multiple => true, :class => "btn" %>
  </div>

  <div class="actions">
    <%= f.submit "Save room", :class => "btn btn-new" %>
  </div>
<% end %>