<%= form_for [:admin, @room] do |f| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @room.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Room name: " %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :amount_of_beds, "Amount of beds: " %>
    <%= f.number_field :amount_of_beds %>
  </div>

  <div class="field">
    <%= f.label :price, "Price: " %>
    <%= f.number_field :price %>
  </div>

  <p>Hotel: <%= f.collection_select(:hotel_id, Hotel.all, :id, :name) %></p>

  <div class="field">
    <%= f.label :cover %>
    <%= f.file_field :cover %>
  </div>

  <div class="actions">
    <%= f.submit "Save", :class => "btn btn-new" %>
  </div>
<% end %>