<div>
  <div class="controls"><%= link_to "New Room", new_admin_room_path, :class => "btn" %></div>
  <h2>List Rooms</h2>  
</div>

<table>
  <thead>
    <tr>
      <th>Room Name</th>
      <th>Number of Beds</th>
      <th>Price</th>
      <th>Hotel Name</th>
      <th>Picture</th>
    </tr>
  </thead>
  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <div>
          <td><%=link_to room.name, admin_room_path(room) %>
          <td><%= room.amount_of_beds %></td>
          <td>US $ <%= room.price %></td>
          <td><%= room.hotel.name %></td>
        </div>
        <td>
          <% if room.cover.attached? %>
            <%= image_tag room.cover.variant(resize: "300x300") %>
          <% end %>
        </td>
      <% end%>
      </tr>  
  </tbody>
</table>