<% @bookings.each do |booking| %>
<div class="piece">
  <% booking.room.hotel.cover.each do |image| %>
    <%= image_tag(image.variant(resize: "200x200"), :alt => booking.room.hotel.name) %>
  <% end %>
  <div class="piece-right">
    <h2><%= link_to booking.room.hotel.name, booking_path(booking) %></h2>
    <%# <h2><%= link_to booking.id, booking_path(booking) %><%#</h2> %>
    <p><b>From:</b> <%= booking.start_date %></p>
    <p><b>To:</b> <%= booking.end_date %></p>
    <p><b>Paid Price:</b> US$ <%= booking.paid_price %></p>
    <p><b>Name:</b> <%= mail_to booking.user.email, booking.user.name %></p>
    <%# <p>User Email: <%= booking.user.email %><%#</p> %>
    <p><b>Room name:</b> <%= booking.room.name %></p>
    <%# <p>Hotel: <%= booking.room.hotel.name %><%#</p> %>
  </div>
</div>
<% end%>