<p>Welcome</p>

<% if current_user && current_user.role == "admin" %>
    
<% else  %>
<h2>Your Bookings</h2>
<% @bookings.each do |booking| %>
  <div class="piece">
    <%= image_tag(booking.room.hotel.cover.variant(resize: "200x200"), :alt => booking.room.hotel.name) %>
    <div class="piece-right">
      <h2><%= booking.room.hotel.name %></h2>
      <p><b>Room name:</b> <%= booking.room.name %></p>
      <p><b>Amount of beds:</b> <%= booking.room.amount_of_beds %></p>
      <p><b>From:</b> <%= booking.start_date %></p>
      <p><b>To:</b> <%= booking.end_date %></p>
      <p><b>Paid Price:</b> US$ <%= booking.paid_price %></p>
      <p><b>Contact User:</b> <%= mail_to booking.user.email, booking.user.name %></p>
      <p><b>Hotel Promotions:</b></p>
      <% booking.room.hotel.promotions.each do |hotel_promotion| %>
        <ul>
        <p><b>Promotion <%= hotel_promotion.id %></b></p>
          <li><p>Start Date: <%= hotel_promotion.start_date %></p></li>
          <li><p>End Date: <%= hotel_promotion.end_date %></p></li>
          <li><p>Type: <%= hotel_promotion.discount_type.capitalize %></p></li>
          <li><p>Amount: <%= hotel_promotion.discount_amount %></p></li>
        </ul>
      <% end %>
      <p><b>Room Promotions:</b></p>
      <% booking.room.promotions.each do |room_promotion| %>
        <ul>
        <p><b>Promotion <%= room_promotion.id %></b></p>
          <li><p>Start Date: <%= room_promotion.start_date %></p></li>
          <li><p>End Date: <%= room_promotion.end_date %></p></li>
          <li><p>Type: <%= room_promotion.discount_type.capitalize %></p></li>
          <li><p>Amount: <%= room_promotion.discount_amount %></p></li>
        </ul>
      <% end %>
    </div>
  </div>
<% end%>

<% end  %>