<p>Welcome</p>

<% if current_user && current_user.role == "admin" %>
    
<% else  %>
<h2>Your Bookings</h2>
<% @bookings.each do |booking| %>
  <div class="piece">
    <%= image_tag(booking.room.hotel.cover.variant(resize: "200x200"), :alt => booking.room.hotel.name) %>
    <div class="piece-right">
      <h2><%= booking.room.hotel.name %></h2>
      <p><b>Room name:</b> <%= booking.room.name %></p>
      <p><b>Amount of beds:</b> <%= booking.room.amount_of_beds %></p>
      <p><b>From:</b> <%= booking.start_date %></p>
      <p><b>To:</b> <%= booking.end_date %></p>
      <p><b>Paid Price:</b> US$ <%= booking.paid_price %></p>
      <p><b>Contact User:</b> <%= mail_to booking.user.email, booking.user.name %></p>
    </div>
  </div>
<% end%>

<% end  %>