<h2> Congratulations! </h2>
<p>You have successfully booked your room with Trivago!</p>
<br>
<p>Details:</p>
<p>------------------------------------------------<p>
<p>Name: <%= @booking.user.name %></p>
<p>From: <%= @booking.start_date %></p>
<p>To: <%= @booking.end_date %></p>
<p>Paid Price: <%= @booking.paid_price %></p>
<p>Room: <%= @booking.room.name %></p>
<p>------------------------------------------------<p>
<br>
<p>Have a great visit, thanks for your preference!</p>