<h2> Congratulations! </h2>
<p>A room has been successfully booked</p>
<br>
<p>Details:</p>
<p>------------------------------------------------<p>
<p>Name: <%= @booking.user.name %></p>
<p>Name: <%= @booking.user.email %></p>
<p>From: <%= @booking.start_date %></p>
<p>To: <%= @booking.end_date %></p>
<p>Paid Price: <%= @booking.paid_price %></p>
<p>Room: <%= @booking.room.name %></p>
<p>------------------------------------------------<p>
<br>
