<h2> Hello <%= @user.email %>! </h2>
<p>Your reservation is tomorrow!</p>
<br>
<p>Details:</p>
<p>------------------------------------------------<p>
<p>From: <%= @booking.start_date %></p>
<p>To: <%= @booking.end_date %></p>
<p>Paid Price: <%= @booking.paid_price %></p>
<p>Room: <%= @booking.room.name %></p>
<p>------------------------------------------------<p>
<br>
<p>Have a great day, thanks for your preference!</p>