<h1>Room : <%= @room.name %></h1>

<%= form_tag(book_room_path(params[:id]), {:method => 'post'}) do %>
    <%= date_field_tag(:min_date, Date.today)%>
    <%= date_field_tag(:max_date, Date.today + 10.days)%>
    <%= submit_tag('I want to book', :name => nil) %>
<% end %>
<p class="error"><%= @error %></p>

<div class="piece">
  <div>
    <h2><%= @room.name %></h2>
    <% if @room.cover.attached? %>
      <%= image_tag @room.cover.variant(resize: "200x200") %>
    <% end %>
  </div>
  <div class="piece-right">
    <p><b>Amount of beds: </b> <%= @room.amount_of_beds %></p>
    <p><b>Price: </b> <%= @room.price %></p>
    <p><b>Hotel:</b> <%= @room.hotel.name %></p>
  </div>
</div>
<div class="controls">
  <%= link_to "« back", rooms_path, :class => "btn btn-back" %>
</div>

<h2>Bookings</h2>


<table>
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th>Room</th>
      <th>Paid Price</th>
      <th>User</th>
    </tr>
  </thead>
  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.start_date %></td>
        <td><%= booking.end_date %></td>
        <td><%= booking.room_id %></td>
        <td>US$ <%= booking.paid_price %></td>
        <td><%= booking.user.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
