<h2>Hotels Search</h2>
<%= form_tag(hotels_path, {:method => 'get'}) do %>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag('Search', :name => nil) %>
<% end %>

<% @hotels.each do |hotel| %>
  <div class="piece">
    <%= image_tag(hotel.cover.variant(resize: "200x200"), :alt => hotel.name) %>
    <div class="piece-right">
      <h2><%= link_to hotel.name, rooms_hotel_path(hotel) %></h2>
      <p><b>Contact Hotel: </b> <%= mail_to hotel.email, hotel.email %></p>
      <p><b>Country: </b> <%= hotel.country %></p>
      <p><b>City: </b> <%= hotel.city %></p>
      <p><b>Address: </b> <%= hotel.address %></p>

      <p><b>Hotel Promotions:</b></p>
      <% hotel.promotions.each do |hotel_promotion| %>
        <ul>
        <p><b>Promotion <%= hotel_promotion.id %></b></p>
          <li><p>Start Date: <%= hotel_promotion.start_date %></p></li>
          <li><p>End Date: <%= hotel_promotion.end_date %></p></li>
          <li><p>Type: <%= hotel_promotion.discount_type.capitalize %></p></li>
          <li><p>Amount: <%= hotel_promotion.discount_amount %></p></li>
        </ul>
      <% end %>
    </div>
  </div>
<% end%>
