<h2>Rooms</h2>

<%= form_tag(rooms_hotel_path(params[:id]), {:method => 'get'}) do %>
    <%= text_field_tag(:min_price, params[:min_price]) %>
    <%= text_field_tag(:max_price, params[:max_price]) %>
    <%= submit_tag('Search', :name => nil) %>
<% end %>

<ul>
<% @rooms.each do |room| %>
  <li><%= link_to room.name, controller: "rooms", action: "show", id: room  %></li>
  <li><%= room.inspect %></li>
<% end %>
</ul>
